@import "../mixins/variables";
@import "../mixins/functions";

div#page > .content {
  .home {
    h2 {
      color: @cAccentRed;
      margin: 5px 0 0;
    }

    h3 {
      margin: 0;
      height: 2.46em;

      span.cyan {
        color: @cAccentCyan;
      }
      span.purple {
        color: @cAccentPurple;
      }
      span.orange {
        color: @cAccentOrange;
      }
      span.red {
        color: @cAccentRed;
      }
      span.black {
        color: @cMainText;
      }
      span.dark-red {
        color: @cAccentDarkRed;
      }
      span.teal {
        color: @cAccentTeal;
      }
      span.blue {
        color: @cAccentBlue;
      }
      span.burgundy {
        color: @cAccentBurgundy;
      }
      span.snow {
        color: @cAccentSnow;
      }
      span.green {
        color: @cAccentGreen;
      }
    }

    section.data {
      display: flex;
      align-items: flex-start;

      > img {
        flex: none;
        width: 40%;
        max-width: 200px;
        height: auto;
        margin: 10px;
        transform: rotate(-4deg);
        border: 4px solid #ccc;

        @media screen and (max-width: 400px) {
          width: 128px;
        }
      }

      ul.facts {
        padding-left: 30px;

        li {
          margin-bottom: 10px;

          ul {
            margin: 5px 0 0;

            li {
              margin: 0;
            }
          }
        }
      }
    }

    section.availability {
      div.widget {
        display: flex;
        justify-content: flex-start;

        > div {
          display: flex;
          margin: 0;
          padding: 5px;
          font-size: 12px;

          * {
            margin: 0;
            padding: 0;
          }

          p {
            display: none;
          }

          a {
            margin-left: 5px;
            color: white;
          }
        }
      }
    }

    section.details {
      img {
        max-width: 50vw;
      }
    }
  }

  .skills {
    ul ul {
      margin: 5px 0;
    }
  }

  .references {
    ul {
      margin: 20px 0 0;
      padding: 0;
      list-style: none;

      li {
        .clear {
          border: 1px solid transparent;
        }

        h2 {
          font-size: 1em;
          margin-top: 20px;
        }

        img {
          float: right;
          max-width: 50vw;
          max-height: 300px;
          padding: 0 0 10px 10px;
        }

        &:nth-child(even) {
          img {
            float: left;
            padding: 0 10px 10px 0;
          }
        }
      }
    }
  }

  .about {
    table {
      td {
        vertical-align: top;
      }
    }

    section.personal {
      display: flex;
      align-items: flex-start;

      img {
        flex: none;
        width: 200px;
        max-width: 33vw;
        height: auto;
        margin: 0 10px 10px 0;
        border: 4px solid #ccc;
      }

      table {
        flex: auto;
      }
    }

    .onDesktop({
      section.resume {
        table {
          tr {
            td {
              padding-bottom: 20px;

              &:first-child {
                text-align: right;
                padding-right: 20px;
              }
            }
          }
        }
      }
    });
  }
}
