@import "../mixins/variables";
@import "../mixins/functions";

.content {
  div.intro {
    padding-bottom: 50px;

    p {
      font-size: 30px;

      strong {
        font-weight: normal;
        color: @cHighlight;
      }
    }
  }

  div.portrait {
    text-align: center;
    margin-top: 15px;
  }

  div.resume_left {
    text-align: right;
    margin-bottom: 20px;
  }

  div.resume_right {
    margin-bottom: 20px;
  }

  a {
    color: @cHighlight;

    &:hover {
      color: darken(@cHighlight, 40%);
    }
  }

  a.button {
    background-color: @cHighlight;
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 40px;
    border-radius: 20px;
    padding: 6px 20px;

    &:hover {
      background-color: lighten(@cHighlight, 30%);
    }
  }

  h1 {
    color: @cMainText;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 10px;
  }

  h2 {
    font-weight: normal;
    font-size: 26px;
    color: @cHighlight;
    margin: 10px 0 10px;
    padding: 0;
  }

  p {
    margin: 0 0 20px;
    font-size: 16px;

    &.subheader {
      font-size: 20px;
    }

    strong {
      font-weight: normal;
      color: @cHighlight;
    }
  }

  ul {
    margin: 0 0 20px;
    padding-left: 30px;
    font-size: 16px;
  }
}

.onMobile({
  div.content {
    h1 {
      font-size: 26px;
      padding: 0 10px;
    }

    h2 {
      font-size: 20px;
      padding: 0 10px;
    }

    p {
      margin: 0 10px 10px;
      font-size: 16px;

      &.subheader {
        font-size: 16px;
      }
    }

    ul {
      margin: 0 0 10px;
    }

    a.button {
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
    }

    &.index {
      .grid_4.img {
        width: 33%;
        float: left;
        text-align: center;
        img {
          width: 100px;
        }
      }

      .intro {
        padding: 0 0 10px;

        p {
          font-size: 16px;
        }
      }
    }

    &.services {
      img.mockup {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    &.competencies {
      .grid_4 img {
        display: none;
      }
    }

    &.about {
      img.portrait {
        display: none;
      }

      .resume_left {
        float: left;
        width: 30%;
        display: inline;

        b {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          margin-bottom: -17px;
        }
      }

      .resume_right {
        float: left;
        width: 68%;
        display: inline;
        padding-left: 2%;
      }
    }
  }
});
