@import "../mixins/variables";
@import "../mixins/functions";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    flex: auto;
    margin: 10px;

    a {
      text-decoration: none;
      color: @cMainText;
    }

    span {
      font-family: 'Ubuntu',sans-serif;
      display: block;
      line-height: 30px;
      font-size: 30px;

      &.firstname {
        font-weight: 400;
        text-transform: lowercase;
        float: left;
        padding-bottom: 10px;
      }

      &.lastname {
        color: @cAccentCyan;
        font-weight: 700;
        text-transform: lowercase;
      }

      &.tagline {
        font-weight: 300;
        font-size: 21px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }

  div.bars {
    display: flex;
    overflow: hidden;

    > div {
      width: 20px;
      height: 75px;
      transform-origin: bottom right;
      transform: skewX(-20deg);
      transition: background 0.5s;

      &.cyan {
        background: @cAccentCyan;
      }
      &.purple {
        background: @cAccentPurple;
      }
      &.orange {
        background: @cAccentOrange;
      }
      &.red {
        background: @cAccentRed;
      }
      &.black {
        background: @cMainText;
      }
      &.dark-red {
        background: @cAccentDarkRed;
      }
      &.teal {
        background: @cAccentTeal;
      }
      &.blue {
        background: @cAccentBlue;
      }
      &.burgundy {
        background: @cAccentBurgundy;
      }
      &.snow {
        background: @cAccentSnow;
      }
      &.green {
        background: @cAccentGreen;
      }

      &:last-child {
        width: 30px;
      }
    }
  }
}

.onDesktop({
  header {
    h1 span {
      line-height: 50px;
      font-size: 50px;

      &.tagline {
        font-size: 34px;
        line-height: 34px;
      }
    }

    div.bars > div {
      height: 105px;
    }
  }
});
