@import "../mixins/variables";
@import "../mixins/functions";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @cMainText;
  color: white;

  > i {
    font-size: 20px;
    margin: 6px 8px;
    cursor: pointer;
  }

  div.menu {
    display: none;

    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: @cMainText;
    transition: transform 0.5s;

    > i {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      margin: 50px 0 0;
      padding: 0;

      li {
        border-bottom: 1px solid #333;

        &:first-child {
          border-top: 1px solid #333;
        }

        a {
          display: block;
          padding: 10px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  ul.lang {
    display: flex;
    margin: 6px;
    padding: 0;

    li {
      background: #333;
      border-radius: 5px;
      padding: 5px;

      a {
        color: white;
        text-decoration: none;
      }

      &.active {
        background: #555;

        a {
          font-weight: bold;
        }
      }

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.onDesktop({
  nav {
    > i {
      display: none !important;
    }

    div.menu {
      display: block;
      position: relative;

      > i {
        display: none !important;
      }

      ul {
        flex-direction: row;
        align-items: center;
        margin: 0;

        li {
          border: 0 !important;

          a {
            padding: 0 10px;

            &.active {
              color: @cAccentRed;
            }
          }
        }
      }
    }
  }
});
