<footer>
    <div class="container_12">
        <div class="grid_12">
            &copy; 2014 - 2019 Stefan Schuster
        </div>
        <div class="grid_12">
            {% if langActive == 'en' %}
                <a href="/en/imprint">Imprint</a>
            {% else %}
                <a href="/de/imprint">Impressum</a>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>    
</footer>