<footer>
    <section class="copyright">
        &copy; 2014 - {{ year }} Stefan Schuster
    </section>
    <ul class="footer-menu">
        <li>
            {% if langActive == 'en' %}
                <a href="/en/imprint">Imprint</a>
            {% else %}
                <a href="/de/imprint">Impressum</a>
            {% endif %}
        </li>
    </ul>
</footer>