cBackMain = #fffff4
cBackHead = #1abece
cMainText = #2b2828
cHighlight = #e5283a

body {
    color cMainText
    font-family Helvetica,Arial,sans-serif
    font-size 14px
    line-height 1.23
    background cBackMain
}

@import "header"
@import "menu"
@import "content"
@import "footer"