@import "mixins/normalize";
@import "mixins/fonts";
@import "mixins/variables";
@import "mixins/functions";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";

html {
  box-sizing: border-box;
}

body {
  background: #777;
  color: @cMainText;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.23;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div#page {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  min-height: 100vh;
  padding-bottom: 60px;
  background: #fffffa;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

  > .content{
    margin: 10px;
    overflow: hidden;

    a {
      color: @cAccentRed;
    }

    h1, h2, h3, h4, h5, p {
      margin: 10px 0;
    }

    .clear {
      clear: both;
    }
  }
}

.onDesktop({
  div#page {
    min-height: 50vw;
  }
});

@import "components/header";
@import "components/menu";
@import "components/content";
@import "components/references";
@import "components/footer";
