{% extends "layout.njk" %}
{% set TITLE = "Über mich" %}

{% block content %}
<div class="about">
    <h1>Über mich</h1>
    <h2>Profil</h2>
    <section class="personal">
        <img src="/img/portrait.jpg">
        <table>
            <tr>
                <td><strong>Name:</strong></td>
                <td>Stefan Schuster</td>
            </tr>
            <tr>
                <td><strong>Titel:</strong></td>
                <td>DI(FH)</td>
            </tr>
            <tr>
                <td><strong>Geboren:</strong></td>
                <td>1984</td>
            </tr>
            <tr>
                <td><strong>Nationalität:</strong></td>
                <td>Österreich</td>
            </tr>
            <tr>
                <td><strong>Wohnort:</strong></td>
                <td>Wien</td>
            </tr>
            <tr>
                <td><strong>Ausbildung:</strong></td>
                <td>FH Campus Wien, Informationstechnologie und Telekommunikation</td>
            </tr>
        </table>
    </section>

    <section class="resume">
        <h2>Lebenslauf</h2>
        <table>
            <tr>
                <td>
                    <strong>Selbstständig</strong><br>
                    seit 06/2014
                </td>
                <td>
                    <strong>Freiberuflicher Programmierer - Freelancer</strong><br>
                    Dienstleistungen in den Bereichen HTML5, CSS, JavaScript, Node.js und mobilen Apps
                </td>
            </tr>
            <tr>
                <td>
                    <strong>IRIAN Solutions Softwareentwicklungs- und Beratungsgesellschaft mbH</strong><br>
                    01/2007 - 04/2014
                </td>
                <td>
                    <strong>Software-Entwickler, Consultant</strong><br>
                    Interne Entwicklung nativer und web-basierter mobiler Anwendungen. Programmierung reichhaltiger Webanwendungen für interne Projekte und externe Kunden. Consutling bei Kunden im Bereich HTML, CSS und JavaScript.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>IMAC IT Forschungs- und Entwicklungs GmbH / Center Communication Systems GmbH</strong><br>
                    08/2004 - 12/2006
                </td>
                <td>
                    <strong>Software-Entwickler</strong><br>
                    Entwicklung plattformübergreifender Desktop-Anwendungen (Linux, Windows) mit C++ und QT / wxWidgets im Bereich der Verkehrsüberwachung.
                </td>
            </tr>
        </table>
    </section>

    <section class="public">
        <h2>Öffentlich</h2>
        <p>
            Im Laufe der Jahre, vor allem während meiner Zeit bei der IRIAN, habe ich einige Vorträge auf Technologie-Konferenzen gehalten und bei der Erstellung eines Buches mitgeholfen. Hier ein Auswahl meiner öffentlichen Arbeit.
        </p>
        <p>
            <strong>CONFESS_2015</strong><br>
            Vortrag: Mobile Application Development: Native vs. Cordova vs. WebApp<br>
            <a href="/download/2015_confess_slides.pdf" target="_blank">Folien</a><br>
            <a href="/download/2015_confess_mobile_apps.m4v" target="_blank">Video</a>
        </p>
        <p>
            <strong>JavaLand 2014</strong><br>
            Vortrag: Ein Blick über den Tellerrand: Was steckt hinter Node.js<br>
            <a href="/download/2014_javaland_slides.pdf" target="_blank">Folien</a>
        </p>
        <p>
            <strong>CONFESS_2013</strong><br>
            Vortrag: HTML-, CSS- and JavaScript techniques for mobile web applications<br>
            <a href="/download/2013_confess_slides.pdf" target="_blank">Folien</a><br>
            <a href="/download/2013_confess_mobile_web.m4v" target="_blank">Video</a>
        </p>
        <p>
            <strong>CONFESS_2012</strong><br>
            Vortrag: Cross platform mobile application development: Lessons learned<br>
            <a href="/download/2012_confess_slides.pdf" target="_blank">Folien</a><br>
            <a href="/download/2012_confess_cross_mobile.m4v" target="_blank">Video</a>
        </p>
        <p>
            <strong>JSFDays/eJug days 2009</strong><br>
            Vortrag: A JavaScript Outlook: How the client gets more powerful<br>
            <a href="/download/2009_jsfdays_slides.pdf" target="_blank">Folien</a>
        </p>
        <p>
            <strong>JSFDays/eJug days 2008</strong><br>
            Advanced JavaScript in FAT Clients<br>
            <a href="/download/2008_jsfdays_slides.pdf" target="_blank">Folien</a>
        </p>
        <p>
            <strong>AjaxInAction 2007</strong><br>
            Offline-Webanwendungen mit Google Gears<br>
            <a href="/download/2007_ajaxinaction_slides.pdf" target="_blank">Folien</a>
        </p>
        <p>
            <strong>Webinale 2007</strong><br>
            Going Crazy mit JavaScript: Grafik im Browser<br>
            <a href="/download/2007_webinale_slides.pdf" target="_blank">Folien</a>
        </p>
        <p>
            <strong>Buch: Ruby on Rails</strong><br>
            Co-Autor eines Buches über Ruby on Rails 1.0<br>
            <a href="http://www.amazon.de/Ruby-Rails-Webentwicklung--Grundlagen-fortgeschrittene/dp/3898644022" target="_blank">Info @ Amazon</a><br><br>
            <img src="/img/book_rails.png">
        </p>
    </section>
</div>
{% endblock %}
