{% extends "layout.njk" %}
{% set CONTENTCLASS = "index" %}
{% set METADESCRIPTION = "Mein Name ist Stefan Schuster, und ich bin ein freiberuflicher Programmierer aus Wien mit den Spezialgebieten HTML5, CSS, JavaScript und mobile Applikationen" %}

{% block content %}
<div class="grid_4 img">
    <img src="/img/consulting_html5.png" alt="HTML5, CSS3 und JavaScript consulting" title="HTML5, CSS3 und JavaScript consulting">
</div>
<div class="grid_4 img">
    <img src="/img/consulting_nodejs.png" alt="Node.js consulting" title="Node.js consulting">
</div>
<div class="grid_4 img">
    <img src="/img/consulting_mobile.png" alt="iOS und Android mobile app consulting" title="iOS und Android mobile app consulting">
</div>
<div class="grid_12 intro">
    <p>
        Hallo, ich heiße Stefan Schuster und bin freiberuflicher Programmierer aus Wien.
    </p>
    <p>
        Meine Spezialgebiete sind die Web-Technologien <strong>HTML5</strong>, <strong>CSS</strong> und <strong>JavaScript</strong>, sowie <strong>mobile Applikationen</strong>.
    </p>
    <p>
        Ich biete Dienstleistungen und Consulting im Bereich der <strong>Web-Entwicklung</strong> und der Erstellung von <strong>Apps</strong> an.
    </p>
    <p>
        <a class="button" href="/{{ langActive }}/services">Dienstleistungen</a>
    </p>
</div>
<div class="grid_3 portrait">
    <img src="/img/portrait.png" alt="Stefan Schuster" title="Stefan Schuster">
</div>
<div class="grid_5">
    <h2>Über mich</h2>
    <p>
        Ich bin ein freiberuflicher Programmierer und lebe in Wien. Ich habe über sieben Jahre Berufserfahrung im Bereich Software-Entwicklung und Consulting. In den letzten Jahren hatte ich die Möglichkeit an vielen Projekten mitzuarbeiten bzw. Projekte zu leiten, und dadurch mit vielen verschiedenen Technologien Erfahrungen zu sammeln.
    </p>
</div>
<div class="grid_4">
    <h2>Kontakt</h2>
    <ul>
        <li><a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a></li>
        <li><a href="http://at.linkedin.com/in/schusterstefan" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.xing.com/profile/Stefan_Schuster10" target="_blank">XING</a></li>
        <li><a href="https://github.com/sschuster" target="_blank">GitHub</a></li>
    </ul>
</div>
<div class="grid_9 prefix_3">
    <p>
        <a class="button" href="/{{ langActive }}/competencies">Kompetenzen</a>
        <a class="button" href="/{{ langActive }}/about">Über mich</a>
    </p>
</div>
<div class="grid_12 references">
    <h2>Referenzen</h2>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="http://mind42.com" target="_blank" class="mind42">
            <img src="/img/ref_mind42.png" alt="Mind42.com - Free online mind mapping software" title="Mind42.com - Free online mind mapping software">
        </a>
    </div>
    <div class="grid_9">
        <p>
            Mind42 ist eine freie Mind-Mapping Anwendung in der Cloud. So wie Google Docs &amp; Spreadheets und andere SaaS (Software as a Service) Lösungen, erlaubt auch Mind42 die Erstellung von Dokumenten - in diesem Fall Mindmaps - im Webbrowser und die kollaborative Zusammenarbeit mit anderen Nutzern. Ich kümmere mich um den fortlaufenden Betrieb, Wartung und die Weiterentwicklung der Platform. Das umfasst alle Bereiche vom Server-Betrieb, der Backend-Entwicklung (node.js) und der Frontend-Entwicklung (Dojo):
        </p>
    </div>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="http://irian.at" target="_blank" class="irian">
            <img src="/img/ref_irian.png" alt="IRIAN Solutions - The software experts" title="IRIAN Solutions - The software experts">
        </a>
    </div>
    <div class="grid_9">
        <p>
            IRIAN Solutions GmbH ist eine Wiener Consulting-Firma mit Fokus auf Enterprise Java und Open Source und ich freue mich, meinen alten Arbeitgeber auch heute noch zu meinen Kunden zählen zu dürfen. Meine Arbeit für die IRIAN beinhaltet Consulting- und Entwicklungs-Tätigkeiten für Kunden wie die Credite Suisse und die Bundesrechenzentrum GmbH, als auch für interne Projekte. Mein Hauptbetätigungsfeld dabei ist alles rund um HTML, CSS und JavaScript.
        </p>
    </div>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="http://www.jollydays.at" target="_blank" class="jollydays">
            <img src="/img/ref_jollydays.png" alt="Jollydays - Geschenke und Geschenkideen" title="Jollydays - Geschenke und Geschenkideen">
        </a>
    </div>
    <div class="grid_9">
        <p>
            Jollydays ist eine österreichische Firma welche Gutscheine für Erlebnisgeschenke verkauft. Für Ihr neues Projekt - makeyourday.com - habe ich geholfen die Webseite für mobile Endgeräte vorzubereiten. Das umfasste die Restrukturierung der LESS-Sourcen, den Aufbau einer Komponentenbibliothek und die responsive Umsetzung der Komponenten. Neben der Vorbereitung des neuen Stylings habe ich auch geholfen die neuen Komponenten in die AngularJS basierte Anwendung zu integrieren.
        </p>
    </div>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="http://www.onestep2.at" target="_blank" class="onestep2">
            <img src="/img/ref_onestep2.png" alt="oneStep2 - IT-Beratung und Dienstleistungen" title="oneStep2 - IT-Beratung und Dienstleistungen">
        </a>
    </div>
    <div class="grid_9">
        <p>
            Die oneStep2 GmbH ist ein österreichischer IT-Service-Provider, spezialisiert auf Server-Monitoring und (Netzwerk-) Infrastruktur, geleitet von einem langjährigem Kollegen von mir. Zusammen mit der oneStep2 GmbH habe ich bereits erfolgreich mehrere Homepage-Projekte (hauptsächlich mit Drupal, wie etwa die Seite motorradreporter.com) und Apps (nativ für Android und iOS, als auch Cordova basierte Web-Apps) umgesetzt.
        </p>
    </div>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="https://www.allaboutapps.at" target="_blank" class="allaboutapps">
            <img src="/img/ref_allaboutapps.png" alt="all about apps - Mobile Solutions für Ihr Unternehmen" title="all about apps - Mobile Solutions für Ihr Unternehmen">
        </a>
    </div>
    <div class="grid_9">
        <p>
            all about apps ist ein österreichischer Anbieter von Lösungen im Mobilen Bereich, die alles vom Consulting, über die Entwicklung bis zum finalen Publishing von Apps abdecken. Für all about apps war ich in mehreren Projekten an der Erstellung node.js basierter Backends beteiligt, die JSON basierte REST-Schnittstellen für Apps bereit stellten (inklusive Daten-Persistierung und Authentifizierung).
        </p>
    </div>
</div>
<div class="container_12 reference">
    <div class="grid_3 logo">
        <a href="http://www.localstorage.at" target="_blank" class="localstorage">
            <img src="/img/ref_localstorage.png" alt="Local-Storage Wien: Der günstige Lagerraum gleich in Ihrer Nähe">
        </a>
    </div>
    <div class="grid_9">
        <p>
            localstorage ist ein Wiener Immobilien-Unternehmen welches Laggerräume online über Ihre Homepage vermietet. Ich wurde beauftragt die Homepage komplett neu auf Basis von PHP zu implementieren. Das Endprodukt basiert auf dem Laravel PHP Framework und inkludiert Bezahlschnittstellen für Paypal und EPS. Im Frontend-Bereich kamen AngularJS, Less und SVG zum Einsatz.
        </p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}