{% extends "layout.njk" %}

{% block content %}
<div class="home">
    <h2>Stefan Schuster</h2>
    <h3>Full-stack JavaScript Entwickler, <span class="cyan">Mobile Enwtickler</span>, ...</h3>
    <section class="data">
        <img src="/img/portrait.jpg">
        <ul class="facts">
            <li>
                <strong>Kernkompetenzen:</strong> Web und Mobile Software-Entwicklung
            </li>
            <li>
                <strong>Leistungen:</strong> Web-Projekte jeder Komplexität (von einfachen Webseiten bis zu komplexen Single Page Applications), Web-Hosting, App-Entwicklung
            </li>
            <li>
                <strong>Ort:</strong> Wien, Österreich
            </li>
            <li>
                <strong>Weitere Informationen:</strong>
                <ul>
                    <li>
                        <a href="/de/skills">Fertigkeiten</a>
                    </li>
                    <li>
                        <a href="/de/references">Referenzen</a>
                    </li>
                    <li>
                        <a href="/de/about">Über</a>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Kontakt:</strong><br>
                <a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a>
            </li>
        </ul>
    </section>
    <section class="availability">
        <h4>
            Verfügbarkeit
        </h4>
        <div class="widget">
            <div class="bright" id="flm-profile-widget"><a target="_blank" href="https://www.freelancermap.at/freelancer-verzeichnis/profile/entwicklung/216085-profil-stefan-schuster-software-entwickler-aus-wien.html?ref=widget">Profil bei freelancermap</a></div>
            <script src="//www.freelancermap.at/js/widgets/profile.js"></script>
            <script>flm_profile.init({profile_id: 216085, showName: false, showImage:false})</script>
        </div>
    </section>
    <section class="details">
        <h4>
            Über mich
        </h4>
        <p>
            Ich bin <strong>Freelancer</strong> im Bereich <strong>Software-Entwicklung</strong> aus <strong>Wien</strong> mit mehr als 15 Jahren Berufserfahrung in der IT.
            Die für mich treffendste Jobbeschreibung ist wohl <strong>Fullstack JavaScript Entwickler</strong> weil JavaScript meine Leidenschaft ist,
            alles in allem bin ich aber ein Allrounder mit Fokus auf <strong>Mobil- und Web-Entwicklung</strong>.
        </p>
        <p>
            <img src="/img/consulting_html5.png" align="right">
            Ich bin Experte in allem was mit JavaScript zu tun hat, von Vanilla JS für einfache dynamische Funktionen auf
            Homepages, über jQuery, bis hin zu komplexen <strong>Single Page Applications</strong> mit <strong>Angular</strong>
            (oder React oder Vue.js) oder auch Backend-Entwicklung mit <strong>Node.js</strong> (mit Express, HAPI usw.).
            Das beinhaltet natürlich auch alle zugehörigen Technologien wie <strong>Typescript</strong>, Front-End Technologien
            (HTML, CSS), Datenbanken (MySQL, Postgres, Redis, als auch NoSQL Datenbanken wie Couchbase und CouchDB, ...),
            APIs (z.B. REST mit verschiedenen Datenformaten wie JSON, XML, ...) und diversen anderen Technologien (z.B.
            Queues wie RabbitMQ oder MQTT). Da ich selbst einen Web-Service betreibe bin ich auch mit dem Deployment
            und dem Umgang mit solchen Services unter Linux vertraut. Das beinhaltet AWS Services, das
            Schreiben von Dockerfiles, das Einrichten automatisierter Builds in einer Gitlab Instanz und so weiter.
        </p>
        <p>
            Als <strong>Allrounder</strong> ist das aber nicht alles mit dem ich Erfahrung gesammelt habe. Für die
            <strong>App Entwicklung</strong> bin ich auch als Swift Programmierer aktiv, ich betreue mehrere PHP basierte
            Webseiten und ganz allgemein gesprochen komme ich mit der vorhandenen Erfahrung in so vielen Bereichen auch
            sehr schnell mit neuen Frameworks, Programmiersprachen und Werkzeugen zurecht. Für einen kompletten Überlick
            über die Technologien mit denen ich arbeite werfen Sie bitte einen Blick auf die Seite <a href="/de/skills">Fertigkeiten</a>.
        </p>
    </section>
    <script>
        (function() {
            const span = document.querySelector(".home h3 span");
            const colors = ["cyan", "purple", "orange", "red", "dark-red", "teal", "blue", "burgundy", "snow", "green"];
            const titles = [
                "Typescript Entwickler",
                "Angular Entwickler",
                "Vue.js Entwickler",
                "Node.js Entwickler",
                "Redux Entwickler",
                "async Entwickler",
                "Template Entwickler",
                "Express/HAPI Entwickler",
                "REST Entwickler",
                "API Entwickler",
                "Mobil Entwickler",
                "Cordova Entwickler",
                "PHP Entwickler",
                "Laravel Entwickler",
                "iOS Entwickler",
                "Objective-C Entwickler",
                "Swift Entwickler",
                "Web Entwickler",
                "Docker Entwickler",
                "Frontend Entwickler",
                "Backend Entwickler",
                "MySQL Entwickler",
                "Postgres Entwickler",
                "Datenbank Entwickler"
            ];
            const changeTitle = function() {
                let newColor = null;
                while (!newColor) {
                    newColor = colors[Math.min(colors.length - 1, Math.floor(Math.random() * colors.length))];
                    if (newColor === span.className) {
                        newColor = null;
                    }
                }
                let newText = null;
                while (!newText) {
                    newText = titles[Math.min(titles.length - 1, Math.floor(Math.random() * titles.length))];
                    if (newText === span.innerText) {
                        newText = null;
                    }
                }
                let promise = Promise.resolve();
                for (let i = span.innerText.length - 1; i >= 0; i--) {
                    promise = promise.then(() => {
                        span.innerText = span.innerText.substr(0, span.innerText.length - 1);
                        return new Promise((resolve) => { setTimeout(resolve, 30); });
                    });
                }
                promise = promise.then(() => {
                    span.className = newColor;
                });
                for (let i = 0; i < newText.length; i++) {
                    promise = promise.then(() => {
                        span.innerText = newText.substr(0, span.innerText.length + 1);
                        return new Promise((resolve) => { setTimeout(resolve, 30); });
                    });
                }
                promise.then(() => {
                    setTimeout(changeTitle, 3000);
                });
            };
            setTimeout(changeTitle, 3000);
        })();
    </script>
</div>
{% endblock %}