{% extends "layout.njk" %}

{% block content %}
<h1>404 Not Found</h1>
<p>
    Die gesuchte Seite konnte nicht gefunden werden. Suchen Sie vielleicht nach:
</p>
<ul>
    <li>
        <a href="/en">
            Home
        </a>
    </li>
    <li>
        <a href="/en/skills">
            Skills
        </a>
    </li>
    <li>
        <a href="/en/references">
            Referenzen
        </a>
    </li>
    <li>
        <a href="/en/about">
            Über
        </a>
    </li>
</ul>
{% endblock %}
