{% extends "layout.njk" %}
{% set TITLE = "Fertigkeiten & Dienstleistungen" %}

{% block content %}
<div class="skills">
    <h1>
        Fertigkeiten
    </h1>
    <p>
        Eine Auflistung von Technologien mit denen ich momentan arbeite:
    </p>
    <ul>
        <li>
            JavaScript
            <ul>
                <li>
                    Frontend
                    <ul>
                        <li>Angular</li>
                        <li>Vue.js</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>jQuery</li>
                        <li>create.js</li>
                        <li>Webpack</li>
                    </ul>
                </li>
                <li>
                    Backend
                    <ul>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>HAPI</li>
                        <li>Inversify</li>
                    </ul>
                </li>
                <li>
                    Allgemein
                    <ul>
                        <li>Typescript</li>
                        <li>ES6</li>
                        <li>Babel</li>
                        <li>Gulp</li>
                        <li>Yeoman</li>
                        <li>JSON Apis</li>
                        <li>Mocha/Chai</li>
                        <li>Promise/async</li>
                        <li>RxJS</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            PHP
            <ul>
                <li>Laravel</li>
                <li>Drupal</li>
            </ul>
        </li>
        <li>
            Web
            <ul>
                <li>SASS</li>
                <li>LESS</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Canvas</li>
                <li>Integration von Zahlungsanbietern (EPS, Paypal, Stripe, Fastspring)</li>
            </ul>
        </li>
        <li>
            Datenbanken
            <ul>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Couchbase</li>
                <li>CouchDB</li>
                <li>Redis</li>
                <li>SOLR</li>
            </ul>
        </li>
        <li>
            Rund um Server
            <ul>
                <li>RabbitMQ</li>
                <li>Docker</li>
                <li>Ansible</li>
                <li>Python</li>
                <li>MQTT</li>
                <li>Gitlab CI</li>
                <li>Apache</li>
                <li>Nginx</li>
                <li>AWS</li>
            </ul>
        </li>
        <li>
            Mobil
            <ul>
                <li>iOS (Swift, ObjC)</li>
                <li>Android (Java)</li>
                <li>Cordova</li>
                <li>Responsive Webseiten</li>
            </ul>
        </li>
    </ul>
    <p>
        Als Allround-Entwickler mit Fokus auf Web- und mobile Entwicklung und einer Passion für alles rund um JavaScript
        kann ich unmöglich alle Werkzeuge und Bibliotheken die ich je genutzt habe auflisten. Und ehrlich gesagt fände
        ich das auch nicht zielführend. In den 15+ Jahren Erfahrung als Programmierer habe ich schon in vielen Sprachen
        programmiert, und viele Software-Bibliotheken genutzt. Das geht bis hin zu kleinen Hilfsprogrammen unter Linux die
        in C geschrieben sind (gestartet habe ich als Platform-übergreifender UI Programmierer mit C++) - ich lese mich wieder
        ein und programmiere auch sowas, wenn es gerade für das Projekt benötigt wird. Daher will und kann ich gar nicht
        alles auflisten. Aber man kann in jedem Fall davon ausgehen, dass ich auch schnell in eine Programmiersprachen
        oder ein neues Framework reinkomme wenn nötig - sei es weil es für mich persönlich schon etwas zurückliegt, oder
        ich einfach noch keine Zeit hatte es zu lernen.
    </p>

    <h1>Dienstleistungen</h1>
    <p>
        Basierend auf der Sammlung an Fertigkeiten kann ich auch alle Dienstleistungen rund um kleine und mittlere Webseiten
        und Apps anbieten. Für größere Projekte kann ich auch auf langjährige Kontakte unter Entwicklern und Partner
        im Bereich Server Infrastruktur zurückgreifen.
    </p>
    <ul>
        <li>Programmierung und Server-Betrieb von Webseiten</li>
        <li>Pflege und Erweiterung von Webseiten</li>
        <li>Entwicklung maßgeschneiderter Software</li>
        <li>Architektur und Design von Software</li>
        <li>App Entwicklung (iOS & Android)</li>
        <li>Hybrid-Apps (native Apps mit Web-Inhalten)</li>
        <li>Vorträge, Kurse und Workshops</li>
    </ul>
</div>
{% endblock %}
