body{color:#2b2828;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.23;background:#fffff4}
header{height:110px;background:#1abece;}
header div.grid_6{height:110px}
header h1{margin:0;padding-top:11px;}
header h1 a{text-decoration:none}
header h1 span{font-family:'Ubuntu',sans-serif;display:block;line-height:50px;font-size:50px;color:#fff;}
header h1 span.firstname{font-weight:400;text-transform:lowercase;float:left;padding-bottom:35px}
header h1 span.lastname{color:#2b2828;font-weight:700;text-transform:lowercase}
header h1 span.tagline{font-weight:300;font-size:34px;line-height:34px;text-transform:uppercase}
header ul{list-style-type:none;display:block;margin:0;padding:0;height:30px;position:absolute;right:10px;bottom:10px;}
header ul li{display:block;margin:0;padding:0;width:40px;height:30px;background:#2b2828;float:left;text-align:center;}
header ul li a{text-decoration:none;color:#fffff4;line-height:30px;}
header ul li a:hover{font-weight:bold}
header ul li.first{-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
header ul li.last{-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
header ul li.active{background:#413d3d;}
header ul li.active a{font-weight:bold}
.content div.intro{padding-bottom:50px;}
.content div.intro p{font-size:30px;}
.content div.intro p strong{font-weight:normal;color:#e5283a}
.content div.portrait{text-align:center}
.content div.references{margin-top:50px}
.content div.resume_left{text-align:right;margin-bottom:20px}
.content div.resume_right{margin-bottom:20px}
.content a{color:#e5283a;}
.content a:hover{color:#90111d}
.content div.reference{height:100px;}
.content div.reference a{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);display:block;text-align:center;}
.content div.reference a.mind42{padding-top:20.5px}
.content div.reference a.spaaze{padding-top:19.5px}
.content div.reference a.irian{padding-top:5.5px}
.content div.reference a:hover{opacity:1;-ms-filter:none;filter:none}
.content a.button{background-color:#e5283a;color:#fff;text-decoration:none;font-size:24px;line-height:40px;-webkit-border-radius:20px;border-radius:20px;padding:6px 20px;}
.content a.button:hover{background-color:#ed6875}
.content h1{color:#2b2828;font-size:30px;font-weight:bold;margin:10px 0 10px}
.content h2{font-weight:normal;font-size:26px;color:#e5283a;margin:10px 0 10px;padding:0}
.content p{margin:0 0 20px;font-size:16px;}
.content p.subheader{font-size:20px}
.content p strong{font-weight:normal;color:#e5283a}
.content ul{margin:0 0 20px;padding-left:30px;font-size:16px}
footer{margin:100px 0 20px;}
footer div.grid_12{text-align:center}
footer a{color:#e5283a;text-decoration:none}
