{% extends "layout.njk" %}

{% block content %}
<div class="grid_12">
    <h1>Imprint</h1>

    <h2>Owner and issuer</h2>
    <p>
        Stefan Schuster<br>
        Kaltenbäckgasse 1/8<br>
        1140 Wien<br>
        Austria
    </p>
    <p>
        UID: ATU68727229
    </p>
    <p>
        Member of Chamber of Commerce of Austria<br>
        <a href="http://www.wkoecg.at/Web/Ecg.aspx?FirmaID=406be17a-2c98-4f46-a9e2-0dcf39750b07" target="_blank"><img src="http://www.wkoecg.at/Web/Library/img/ecg.gif" style="border:0px" alt="Informationen zu E-Commerce und Mediengesetz" /></a>
    </p>

    <h2>Contact</h2>
    <p>
        E-mail: <a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a>
    </p>
</div>
<div class="clear"></div>
{% endblock %}