{% extends "layout.njk" %}

{% block content %}
<div class="home">
    <h2>Stefan Schuster</h2>
    <h3>Full-stack JavaScript developer, <span class="cyan">mobile developer</span>, ...</h3>
    <section class="data">
        <img src="/img/portrait.jpg">
        <ul class="facts">
            <li>
                <strong>Core competencies:</strong> Web and mobile development
            </li>
            <li>
                <strong>Services offered:</strong> Web projects of any complexity (from simple homepages to complex single page applications), Web Hosting, Mobile App Development
            </li>
            <li>
                <strong>Hometown:</strong> Vienna, Austria
            </li>
            <li>
                <strong>More infos:</strong>
                <ul>
                    <li>
                        <a href="/en/skills">Skills</a>
                    </li>
                    <li>
                        <a href="/en/references">References</a>
                    </li>
                    <li>
                        <a href="/en/about">About</a>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Contact:</strong><br>
                <a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a>
            </li>
        </ul>
    </section>
    <section class="availability">
        <h4>
            Availability
        </h4>
        <div class="widget">
            <div class="bright" id="flm-profile-widget"><a target="_blank" href="https://www.freelancermap.at/freelancer-verzeichnis/profile/entwicklung/216085-profil-stefan-schuster-software-entwickler-aus-wien.html?ref=widget">Profil bei freelancermap</a></div>
            <script src="//www.freelancermap.at/js/widgets/profile.js"></script>
            <script>flm_profile.init({profile_id: 216085, showName: false, showImage:false})</script>
        </div>
    </section>
    <section class="details">
        <h4>
            About me
        </h4>
        <p>
            I'm a <strong>freelance software developer</strong> in <strong>Vienna, Austria</strong> with more than 15 years of experience working in IT.
            I describe myself as <strong>fullstack JavaScript developer</strong> because that's my passion, but I'm really an allround
            programmer with focus on <strong>web and mobile development</strong>.
        </p>
        <p>
            <img src="/img/consulting_html5.png" align="right">
            I'm an expert with all things related to JavaScript, from vanilla JS snippets on homepages, to jQuery, to
            <strong>single page application</strong> development with <strong>Angular</strong> (or React or Vue.js) or backend development with <strong>Node.js</strong>
            (using Express, HAPI and the like). Of course this includes all skills related to this like <strong>Typescript</strong>,
            strong frontend knowledge (HTML, CSS), databases (MySQL, Postgres, Redis, some NoSQL databases like Couchbase
            and CouchDB, ...), APIs (using REST, and various data formats like JSON, XML, ...) and various other things
            (like queues with RabbitMQ, or MQTT). Since I run my own services I'm also familiar with deploying such
            services on Linux, which includes the occasional use of AWS, creating Dockerfiles, setting up automated builds
            in Gitlab and so on.
        </p>
        <p>
            But as an <strong>allrounder</strong>, this is not everything I've collected knowledge with. For <strong>mobile app development</strong> I'm also
            active as an iOS developer using Swift, I take care of some PHP sites, and I with all that experiences I'm
            usually pretty quick getting into new frameworks and languages. To get a full overview of the technologies
            I've worked with visit the <a href="/en/skills">skills</a> page.
        </p>
    </section>
    <script>
        (function() {
            const span = document.querySelector(".home h3 span");
            const colors = ["cyan", "purple", "orange", "red", "dark-red", "teal", "blue", "burgundy", "snow", "green"];
            const titles = [
                "Typescript developer",
                "Angular developer",
                "Vue.js developer",
                "Node.js developer",
                "Redux developer",
                "async developer",
                "template developer",
                "Express/HAPI developer",
                "REST developer",
                "API developer",
                "mobile developer",
                "Cordova developer",
                "PHP developer",
                "Laravel developer",
                "iOS developer",
                "Objective-C developer",
                "Swift developer",
                "web developer",
                "Docker developer",
                "frontend developer",
                "backend developer",
                "MySQL developer",
                "Postgres developer",
                "database developer"
            ];
            const changeTitle = function() {
                let newColor = null;
                while (!newColor) {
                    newColor = colors[Math.min(colors.length - 1, Math.floor(Math.random() * colors.length))];
                    if (newColor === span.className) {
                        newColor = null;
                    }
                }
                let newText = null;
                while (!newText) {
                    newText = titles[Math.min(titles.length - 1, Math.floor(Math.random() * titles.length))];
                    if (newText === span.innerText) {
                        newText = null;
                    }
                }
                let promise = Promise.resolve();
                for (let i = span.innerText.length - 1; i >= 0; i--) {
                    promise = promise.then(() => {
                        span.innerText = span.innerText.substr(0, span.innerText.length - 1);
                        return new Promise((resolve) => { setTimeout(resolve, 30); });
                    });
                }
                promise = promise.then(() => {
                    span.className = newColor;
                });
                for (let i = 0; i < newText.length; i++) {
                    promise = promise.then(() => {
                        span.innerText = newText.substr(0, span.innerText.length + 1);
                        return new Promise((resolve) => { setTimeout(resolve, 30); });
                    });
                }
                promise.then(() => {
                    setTimeout(changeTitle, 3000);
                });
            };
            setTimeout(changeTitle, 3000);
        })();
    </script>
</div>
{% endblock %}
