{% extends "layout.njk" %}

{% block content %}
<h1>404 Not Found</h1>
<p>
    The page you are looking for doesn't exist. Maybe you are looking for:
</p>
<ul>
    <li>
        <a href="/en">
            Home
        </a>
    </li>
    <li>
        <a href="/en/skills">
            Skills
        </a>
    </li>
    <li>
        <a href="/en/references">
            References
        </a>
    </li>
    <li>
        <a href="/en/about">
            About
        </a>
    </li>
</ul>
{% endblock %}
