{% extends "layout.njk" %}
{% set TITLE = "Services" %}
{% set CONTENTCLASS = "services" %}
{% set METADESCRIPTION = "I offer consulting and services in the area of HTML5, CSS, JavaScript and mobile apps. Whether you need help with your web project, or the programming of a mobile app." %}

{% block content %}
<div class="grid_12">
    <h1>Services</h1>
</div>
<div class="grid_12">
    <p class="subheader">
        Whether you need the implementation of a <strong>homepage</strong>, the programming of a modern rich client/server <strong>web application</strong>, or an <strong>iPhone or Android app</strong> - I can help you with your projects and the creation of individual software. Contact me at <a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a>.
    </p>
</div>

<div class="grid_12">
    <h2>What can I do for you?</h2>
    <p>
        Over at the <a href="/{{ langActive }}/competencies">competencies page</a> you'll see what technical skills I have. But what kind of work can I do for you using those skills? Here are some examples:
    </p>
    <ul>
        <li>
            Individual software development
            <ul>
                <li>Homepages</li>
                <li>Rich internet applications</li>
                <li>Database-driven web applications</li>
                <li>iPhone, iPad and Android apps</li>
            </ul>
        </li>
        <li>
            Consulting
            <ul>
                <li>Support ongoing projects</li>
                <li>Workshops and courses</li>
            </ul>
        </li>
    </ul>
    <p>
        Interested? Contact me at <a href="mailto:contact@stefanschuster.at">contact@stefanschuster.at</a> for more information.
    </p>
</div>

<div class="grid_12">
    <h2>How I work</h2>
    <p>
        I believe that software projects nowadays have to move fast and be flexible. The buzz word in this regard is <b>agile develoment</b>. It's important to receive feedback often and early to be able to react appropriately.
    </p>
    <p>
        <img class="mockup" align="right" src="/img/mockups.png">
        <b>My process:</b>
    </p>    
    <ul>
        <li>
            <b>Initial meeting:</b><br>
            Before the start of every project, everybody has to be on the same page. During an inital meeting, I'll get a picture of what the project is all about, and we'll sketch out first drafts on paper.
        </li>
        <li>
            <b>Mockups:</b><br>
            The next step is to create mockups. Every software projects involves tons of questions that have to be answered. Visualizing every aspect of the project before starting development avoids unresolved issues later on.
        </li>
        <li>
            <b>Development:</b><br>
            During the development the client will regularly receive demos and access to running prototypes. Using this method, feedback can be efficiently dealt with.
        </li>
        <li>
            <b>Testing and delivery:</b><br>
            In the final phase of the project it's all about polishing. I'll make sure that everything runs smoothly, before considering the project done.
        </li>
    </ul>
    <p>
        My service isn't limited only to the programming of an application. From the initial conception to the final deployment, I can offer you full service. Together with trusted service partners, I can also arrange for permanent hosting and support of your applications.
    </p>
</div>

<div class="clear"></div>
{% endblock %}