{% extends "layout.njk" %}
{% set TITLE = "Skills & Services" %}

{% block content %}
<div class="skills">
    <h1>
        Skills
    </h1>
    <p>
        The following list shows the technologies I'm currently working with:
    </p>
    <ul>
        <li>
            JavaScript
            <ul>
                <li>
                    Frontend
                    <ul>
                        <li>Angular</li>
                        <li>Vue.js</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>jQuery</li>
                        <li>create.js</li>
                        <li>Webpack</li>
                    </ul>
                </li>
                <li>
                    Backend
                    <ul>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>HAPI</li>
                        <li>Inversify</li>
                    </ul>
                </li>
                <li>
                    General
                    <ul>
                        <li>Typescript</li>
                        <li>ES6</li>
                        <li>Babel</li>
                        <li>Gulp</li>
                        <li>Yeoman</li>
                        <li>JSON Apis</li>
                        <li>Mocha/Chai</li>
                        <li>Promise/async</li>
                        <li>RxJS</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            PHP
            <ul>
                <li>Laravel</li>
                <li>Drupal</li>
            </ul>
        </li>
        <li>
            Web
            <ul>
                <li>SASS</li>
                <li>LESS</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Canvas</li>
                <li>Payment provider integration (EPS, Paypal, Stripe, Fastspring)</li>
            </ul>
        </li>
        <li>
            Databases
            <ul>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Couchbase</li>
                <li>CouchDB</li>
                <li>Redis</li>
                <li>SOLR</li>
            </ul>
        </li>
        <li>
            Server related
            <ul>
                <li>RabbitMQ</li>
                <li>Docker</li>
                <li>Ansible</li>
                <li>Python</li>
                <li>MQTT</li>
                <li>Gitlab CI</li>
                <li>Apache</li>
                <li>Nginx</li>
                <li>AWS</li>
            </ul>
        </li>
        <li>
            Mobile
            <ul>
                <li>iOS (Swift, ObjC)</li>
                <li>Android (Java)</li>
                <li>Cordova</li>
                <li>Responsive Websites</li>
            </ul>
        </li>
    </ul>
    <p>
        In my 15+ years of experience I've also programmed the
        occasional helper tool running on Linux servers in programming languages like C, and originally I started
        my professional career writing cross platform desktop UIs with C++.
        As an allround developer with focus on mobile and web, and a passion for Javascript related technologies I
        can't possibly list every tool and library I've ever touched - especially not languages and tools which I haven't used in a long time. But
        you can expect me to quickly get back into older technologies I haven't used for a while or new libraries
        that I simply haven't had the time to try yet.
    </p>

    <h1>Services</h1>
    <p>
        Based on my portfolio of skills I can offer all the services related to mobile and web projects
        from small to medium size. For bigger projects I can partner with other developers and partners
        in the area of infrastructure management I've many years of experience with.
    </p>
    <ul>
        <li>Create and host websites</li>
        <li>Maintain and extend existing websites</li>
        <li>Custom application development</li>
        <li>Software architecture and design</li>
        <li>Develop mobile applications (Android & iOS)</li>
        <li>Mobile hybrid apps (native & web based contents)</li>
        <li>Talks and courses and workshops</li>
    </ul>
</div>
{% endblock %}
